*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle

*.lck
*.1
*.2
*.log
.mine*
/externalgames
NVIDIA
minecraft-exported-crash-info*

# gradle build
/build/
/CU/build/
/CUCore/build/
/CUTransformerDiscoveryService/build/
/minecraft/libraries/CUTransformerDiscoveryService/build/

# idea
.idea
/out/
/CU/out/
/CUCore/out/
/minecraft/libraries/CUTransformerDiscoveryService/out/

# eclipse
/bin/
/CU/bin/
/CUCore/bin/
/minecraft/libraries/CUTransformerDiscoveryService/bin/
.classpath
.project
.settings

# netbeans
.nb-gradle

*.exe
!/CU/src/main/resources/assets/CUauncher.exe

# macos
.DS_Store

# test
/CU.json
/.CU.json
